<h1>About US</h1>
<p>Why did we decide to move into the itsy bitsy lifestyle? A little indecision, a big desire to travel the unbeaten path, and learning to listen to the songs our souls sing. Bah! I suppose at the heart of it we both are not ready to settle down into the 9 to 5 routine(we feel you, Dolly).</p>

<p>We both feel like we still have a little dust to kick up. A few more moons to dance under. Cheese fries to eat in every city. We have decided to take on the North American roads and see what we come up with. We bought a 2019 Gulf Stream Vintage Cruiser 23RSS. We named her Twyla and we love her so.</p>

<p>Most importantly, we are reminding ourselves to slow down and be present with where we are. Catch the sunsets, have a morning together, make a good meal with friends or soon to be freinds. We are feeling pretty rich.<p/>