<style type="text/css">
.jumbotron{
  border:solid 5px blue;
}
</style>
<div class="jumbotron center" style="border:solid 5px #7ed6df;">
  <h1>WONDERING WAYS</h1>
  <% if user_signed_in? %>
    Go Do Something
  <% else %>
   <p>
  	<%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-default" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-default" %>
   <p>
  <% end %>
  	
</div>
<div class="text-left">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3116.6633096835567!2d-90.2026026846574!3d38.63362597961227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b33dc2801e55%3A0xc97c4420308aca04!2sCity+Museum!5e0!3m2!1sen!2sus!4v1557852937393!5m2!1sen!2sus" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>


<div class="text-left">
  <iframe width="500" height="275" src="https://www.youtube.com/embed/02X8bX_EBv4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
